/* HERO */
.hero {
  padding-bottom: 3rem;
}

/* divider */
.hero__divider {
  width: 10rem;
  height: 1px;
  background: var(--color-black);
  opacity: 0.6;
  margin-bottom: 2rem;
}

/* title logic (DESKTOP default) */
.hero__title {
  margin: 2rem 0 1.25rem 0; 
  max-width: none;
  line-height: var(--line-height-tight);
}
.hero__title-top {
  display: block;
}
.hero__title-desktop {
  /* display: block; */
  display: flex; /* вместо block */
  flex-direction: column;
  gap: 0.15em;
}
.hero__title-desktop > span {
  display: block;
}
.hero__title-mobile {
  display: none;
}
.hero__nowrap {
  white-space: nowrap;
}

/* media (DESKTOP default) */
.hero__col-media {
  /* display: flex; */
  display: block;
  align-self: start;
  padding-top: 4.5rem;
}

.hero__row {
  --bs-gutter-y: 0; /* убираем вертикальный gutter на lg+ */
  min-height: auto;
  max-height: none;
}

.hero__left {
  padding-top: 6rem; /* место под overlay header */
}

.hero__left a {
  max-width: 38rem; /* можно 36–40rem по вкусу */
}

.hero__media {
  overflow: hidden;
  /* flex: 1; */
  /* height: 100%; */
  height: auto;
  border-radius: 10px;
}

.hero__image {
  width: 100%;
  /* height: 100%; */
  height: auto;
  display: block;
  max-width: 100%;
  /* object-fit: cover; */
  object-position: center 20%;
}

@media (max-width: 1200px) {
  .hero__row {
    --bs-gutter-x: 3rem; 
  }
}
/* ============================================================================
   <992: как promotional
   ============================================================================ */

@media (max-width: 991.98px) {
  /* hero row: без фиксированной высоты */
  .hero {
    padding-bottom: 1.5rem;
  }
  .hero__row {
    /* min-height: auto;
    max-height: none; */
    --bs-gutter-y: var(
      --bs-gutter-y
    ); /* можно не трогать, но оставляю нейтрально */
  }

  .hero__left {
    padding-top: 0; /* на мобилке нет overlay-места */
  }

  /* title: mobile версия */
  .hero__title-desktop {
    display: none;
  }
  .hero__title-mobile {
    display: block;
  }

  /* media: как promotional */
  .hero__col-media {
    display: block;
  }

  .hero__media {
    /* width: 100%;
    max-width: 34rem;
    aspect-ratio: 4 / 5;
    height: auto;
    margin: 0 auto; 
    border-radius: 10px; */
    max-width: 34rem;
    margin-left: auto;
    margin-right: auto;
    /* border-radius: 10px; */
  }

  .hero__image {
    /* border-radius: 0; 
    object-position: center 12%; */
    width: 100%;
    height: auto; /* снова: не режем */
    display: block;
  }
}
